@import '../../../../app/styles/variables/mixins.scss';

@media screen and (max-width: $pad) {
   .MontageCaissonInfo {
      padding: 30px 20px;
   }

   .container {
      flex-direction: column;
      gap: 30px;
   }

   .mainTitle {
      font-size: var(--size-32);
   }

   .advantages {
      width: 100%;
      padding: 0 20px;
   }

   .info {
      width: 100%;
   }
}

@media screen and (max-width: $mobile) {
   .MontageCaissonInfo {
      padding: 0 20px 30px;
   }

   .container {
      gap: 30px;
   }

   .mainTitle {
      font-size: var(--size-26);
   }

   .advantages {
      width: 100%;
      padding: 0 20px;
   }

   .info {
      width: 100%;
   }
}
