.EquipmentComponent {
   width: 100%;
   height: 721px;
   background-color: #ebeff5;
   position: relative;
   padding: 60px 0 32px;

   &::before {
      position: absolute;
      content: url(../../shared/assets/images/round-oborudovaniye.svg);
      top: 0;
      right: 0;
      z-index: 1;
   }
}

.mainInfo {
   position: relative;
   max-width: var(--page-width);
   padding: 0 10px;
   margin: 0 auto;
   height: 721px;
   background-image: url(../../shared/assets/images/oborudovaniye.png);
   background-position: 323px 120px;
   background-repeat: no-repeat;
   background-size: 391px;
   z-index: 2;
}

.container {
   padding-top: 50px;
}

.listContainer {
   gap: 44px;
}

.title {
   font-size: var(--size-36);
}

.description {
   margin: 16px 0 35px 0;
   font-size: var(--size-18);
}

.itemContainer {
   display: grid;
   grid-template-columns: 69px minmax(200px, 305px);
   gap: 5px 10px;
   grid-template-rows: auto;

   .image {
      width: 69px;
      height: 69px;
      grid-row: span 2;
   }

   .itemTitle {
      font-size: var(--size-16);
   }
}

.button {
   margin: 70px 0 15px;
   width: 210px;
   height: 40px;
}

@import './EquipmentComponentAdapt.module.scss';
