@import '../../../app/styles/variables/mixins.scss';

@media screen and (max-width: $pad) {
   .container {
      width: 100%;
      padding: 0 20px;
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px;
   }

   .footerInfo {
      width: 40%;
   }

   .logo {
      border-bottom: none;
   }

   .textInfo {
      width: fit-content;
      margin-top: 17px;
   }

   .links {
      margin: 24px 0;
      gap: 5px;
   }

   .sequrityInfo {
      width: 30%;
   }
}

@media screen and (max-width: $mobile) {
   .container {
      flex-direction: column;
   }

   .footerInfo {
      width: 100%;
   }

   .sequrityInfo {
      width: 100%;
   }
}
