@import '../../../../app/styles/variables/mixins.scss';

@media screen and (max-width: $pad) {
   .ResultsInfoComponent {
      padding: 30px 20px;
   }

   .title {
      margin-bottom: 20px;
   }

   .imageContainer {
      width: 100%;
   }

   .imagePopup {
      width: auto;
   }
}

@media screen and (max-width: $mobile) {
   .title {
      text-align: center;
   }
}
