@import '../../app/styles/variables/mixins.scss';

@media screen and (max-width: $note) {
   .CatalogComponent {
      display: flex;
      justify-content: center;
      padding: 40px 20px;
   }

   .title {
      font-size: var(--size-32);
      // text-align: center;
   }

   .links {
      max-width: 660px;
      width: 100%;
      margin: 0 auto;

      &.category {
         max-width: 100%;
         margin: 0;
      }
   }

   .linkContainer {
      max-width: 48%;

      &.category {
         max-width: 31%;
         height: auto;
      }
   }

   .info {
      width: 45%;

      &.category {
         width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
      }
   }

   .titleLink {
      &.category {
         text-align: center;
      }
   }

   .imageLink {
      width: 45%;

      &.category {
         width: 65%;
         margin-bottom: 20px;
      }
   }
}

@media screen and (max-width: $mobile) {
   .container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .title {
      margin-bottom: 30px;
      width: 100%;
      text-align: center;
      font-size: var(--size-26);
   }

   .links {
      flex-direction: column;
      width: 280px;
   }

   .linkContainer {
      min-width: 280px;
      height: auto;

      &.category {
         width: 280px;
         height: auto;
      }
   }

   .link {
      min-width: 100%;

      gap: 20px;
   }

   .info {
      flex-direction: row;
      align-items: center;
      justify-content: space-around;

      &.category {
         flex-direction: column;
         align-items: center;
         gap: 15px;
      }

      .titleLink {
         width: fit-content;
         margin-bottom: 0;
         text-align: center;

         &.category {
            width: 100%;
         }
      }
   }

   .buttonSelect {
      padding: 8px 16px;
      position: relative;
      justify-content: flex-start;

      &::after {
         content: '';
         position: absolute;
         right: 20px;
         content: url(../../shared/assets/icons/icon-arrow-right.svg);
         margin-left: 13px;
      }
   }

   .imageLink {
      &.category {
         width: 55%;
         margin-bottom: 20px;
      }
   }
}
