.StagesComponent {
   width: 100%;
   padding: 34px 0;
   background-image: url(../../../../shared/assets/images/desk/etapy.jpg);
   background-position: top center;
   background-repeat: repeat-x;
}

.container {
   max-width: var(--page-width);
   margin: 0 auto;
}

.content {
   gap: 116px;
}

.title {
   margin-bottom: 70px;
   font-size: var(--size-36);
}

.addImage {
   width: 309px;
   height: 444px;
}

.stagesInfo {
   width: 430px;
   height: 310px;
   padding: 31px 40px 28px;
   background: #ffffff;
   border-radius: 15px;
}

.infoContainer {
   gap: 6px;
}

.buttonsContainer {
   flex-shrink: 1;
   height: fit-content;
}

.numStage {
   font-size: var(--size-18);
}

.nameStage {
   width: 260px;
   font-size: var(--size-18);
   font-weight: var(--weight-600);
}

.description {
   flex-grow: 1;
   width: 280px;
   margin-left: 84px;
   margin-top: 20px;
}

.buttonForward {
   width: 187px;
   height: 40px;
}

.buttonBack {
   width: 55px;
   height: 40px;
   transform: rotate(180deg);
}

@import './StagesComponentAdapt.module.scss';
