@import '../../../../app/styles/variables/mixins.scss';

@media screen and (max-width: $note) {
   .ArragementTitleComponent {
      padding: 20px 20px 30px;
      background-color: #f5f8fb;
      width: 100%;
   }

   .title {
      margin: 10px 0;
      font-size: var(--size-32);
   }
}

@media screen and (max-width: $mobile) {
   .ArragementTitleComponent {
      padding: 20px 20px 30px;
      background-color: #f5f8fb;
      width: 100%;
   }

   .title {
      margin: 10px 0;
      font-size: var(--size-26);
   }

   .subtitle {
      font-size: var(--size-16);
   }

   .list {
      margin: 36px 0 24px;
   }

   .imageStyle {
      margin-bottom: 14px;
      font-size: 16px;
      height: 25px;
      padding-left: 40px;
      background-size: 25px;
   }

   .calculate {
      flex-direction: column;
      width: 100%;
      height: auto;
      margin-top: 32px;
      gap: 15px;
      padding: 18px;
   }

   .sum {
      font-size: 18px;
   }

   .button {
      padding: 10px 18px;
      font-size: var(--size-14);
   }
}

@media screen and (max-width: 380px) {
   .title {
      text-align: center;
   }

   .subtitle {
      font-size: var(--size-15);
      text-align: center;
   }

   .list {
      margin: 30px 0 24px;
   }

   .imageStyle {
      font-size: 15px;
   }

   .button {
      padding: 10px 18px;
   }
}
