@import '../../../../../app/styles/variables/mixins.scss';

@media screen and (max-width: $pad) {
   .modal {
      max-height: 94%;
      max-width: 94%;
      padding: 20px 32px;
   }

   .title {
      font-size: var(--size-20);
   }

   .subtitle {
      margin-bottom: 0;

      &.horizontal {
         font-size: var(--size-13);
      }
   }

   .form {
      border-top: none;

      .phone {
         &.horizontal {
            padding: 0 20px;
            font-size: var(--size-15);
            margin-top: 0;
         }

         &.nonModal {
            margin-top: 10px;
            width: 100%;
            font-size: 14px;
         }
      }
   }

   .error {
      &.horizontal {
         font-size: var(--size-11);
         line-height: 11px;
      }

      &.nonModal {
         width: 100%;
      }
   }

   .message {
      width: 100%;
      height: 110px;
      padding: 10px 20px;
      font-size: 16px;
      margin-top: 30px;

      &.horizontal {
         padding: 0 20px;
         font-size: var(--size-15);
         margin-top: 10px;
         height: 70px;
      }

      &.nonModal {
         margin-top: 10px;
         width: 280px;
         height: 40px;
      }
   }

   .btn {
      width: 100%;
      height: 53px;
      font-size: 17px;

      &.nonModal {
         margin-top: 10px;
         width: 100%;
         font-size: 14px;
      }

      &.horizontal {
         padding: 5px 20px;
         font-size: var(--size-15);
         margin-top: 10px;
         height: 40px;
      }
   }

   .answerTitle {
      font-size: var(--size-20);
   }

   .textPopup {
      margin-top: 20px;
      padding-top: 20px;
   }
}

@media screen and (max-width: $mobile) {
   .modal {
      padding: 30px 32px;
   }

   .form {
      .phone {
         font-size: 15px;

         &.nonModal {
            margin-top: 0;
            height: 35px;
         }
      }

      &.nonModal {
         width: 100%;
         font-size: 14px;
         padding-left: 70px;
      }
   }

   .error {
      &.nonModal {
         width: 280px;
      }
   }

   .message {
      &.nonModal {
         width: 100%;
         height: 35px;
         font-size: 14px;
      }
   }

   .btn {
      &.nonModal {
         height: 35px;
      }
   }
}

@media screen and (max-width: 380px) {
   .form {
      &.nonModal {
         padding: 0;
      }
   }
}

@media screen and (max-width: 320px) {
   .form {
      .phone {
         &.nonModal {
            font-size: 13px;
         }
      }

      &.nonModal {
         font-size: 13px;
      }
   }

   .btn {
      &.nonModal {
         font-size: 13px;
      }
   }
}
