@import '../../app/styles/variables/mixins.scss';

@media screen and (max-width: $pad) {
   .garantii {
      padding: 40px 20px 0;
      width: 100%;
      height: auto;
   }

   .title {
      width: 100%;
      font-size: var(--size-32);
   }

   .description {
      margin: 12px 0 0;
   }

   .marginTitle {
      margin-left: 70px;
   }

   .marginImage {
      top: 0;
   }

   .garantii_block {
      margin-top: 50px;
      margin-left: 30px;
      flex-wrap: nowrap;
      height: auto;
   }

   .garantii_block_list_item {
      margin-bottom: 25px;
   }
}

@media screen and (max-width: $mobile) {
   .garantii {
      padding: 30px 20px;
      height: auto;
   }

   .title {
      font-size: var(--size-26);
      text-align: center;
      line-height: 36px;
   }

   .description {
      font-size: var(--size-16);
      text-align: center;
      line-height: 22px;
   }

   .marginTitle {
      margin-left: 70px;
   }

   .marginImage {
      top: 0;
   }

   .garantii_block {
      margin-top: 20px;
      margin-left: 0;
   }
}
