@import '../../app/styles/variables/mixins.scss';

@media screen and (max-width: $pad) {
   .garantii {
      padding: 40px 20px 0;
      width: 100%;
   }

   .block_image {
      bottom: -34px;
      left: 0;
      width: auto;
      height: 620px;
   }

   .title {
      width: 100%;
      font-size: var(--size-32);
   }

   .description {
      margin: 12px 0 0;
   }

   .marginTitle {
      margin-left: 70px;
   }

   .marginImage {
      top: 0;
   }

   .garantii_block {
      margin-top: 30px;
      padding-left: 400px;
   }

   .garantii_block_list_item {
      margin-bottom: 25px;
   }
}

@media screen and (max-width: $mobile) {
   .garantii {
      padding: 30px 20px;
      height: auto;
   }

   .block_image {
      top: -80px;
      bottom: auto;
      left: -20px;
      width: calc(100% + 40px);
      height: auto;
   }

   .title {
      font-size: var(--size-26);
      text-align: center;
      line-height: 36px;
   }

   .description {
      font-size: var(--size-16);
      text-align: center;
      line-height: 22px;
   }

   .marginTitle {
      margin-left: 70px;
   }

   .marginImage {
      top: 0;
   }

   .garantii_block {
      margin-top: 300px;
      padding-left: 0;
   }

   .garantii_block_list_item {
      position: relative;
      margin-bottom: 25px;
      padding-left: 80px;
   }

   .garantii_block_list_image {
      position: absolute;
      top: 0;
      left: 0;
      width: 69px;
      height: 69px;

      img {
         width: 69px;
         height: 69px;
      }
   }

   .garantii_block_list_title {
      margin-bottom: 8px;
      font-weight: 900;
      font-size: 16px;
      line-height: 19px;
   }

   .garantii_block_list_description {
      max-width: 375px;
      font-size: 14px;
      line-height: 21px;
      color: #8e8e8e;
   }
}

@media screen and (max-width: 400px) {
   .block_image {
      top: -50px;
   }

   .garantii_block {
      margin-top: 260px;
   }
}

@media screen and (max-width: 360px) {
   .block_image {
      top: 10px;
   }

   .garantii_block {
      margin-top: 220px;
   }
}
