@import '../../../app/styles/variables/mixins.scss';

@media screen and (max-width: $note) {
   .logo {
      font-size: 10px;
      height: var(--header-height);
      padding: 0;
      width: var(--sidebar-width-mobile);
      border-right: none;
   }

   .logoName {
      font-size: var(--size-14);
   }
}

@media screen and (max-width: $pad) {
   .logo {
      height: var(--header-height-mobile);
   }
}
