@import '../../../app/styles/variables/mixins.scss';

@media screen and (max-width: $miniDesk) {
   .header {
      padding-right: 50px;
      width: 100%;

      .headerContainer {
         width: 100%;
      }
   }
}

@media screen and (max-width: $note) {
   .header {
      .number {
         margin-right: 0;
         font-size: var(--size-18);
      }
   }
   .btnContainer {
      flex-direction: column;
      align-items: center;
      gap: 10px;
   }

   .dealer {
      font-size: var(--size-18);
   }
}

@media screen and (max-width: $pad) {
   .header {
      height: var(--header-height-mobile);
      padding-right: 20px;
      background-color: #fff;
      width: 100%;

      &.headerActive {
         background-color: #fff;
         backdrop-filter: none;
      }

      .headerContainer {
         width: 100%;
      }
   }
   .menu {
      &.close {
         width: 20px;
         height: 20px;
         fill: rgb(90, 90, 90);
      }
   }
}
