@import '../../../app/styles/variables/mixins.scss';

@media screen and (max-width: $mobile) {
   .header {
      height: var(--header-height-mobile);
      padding-right: 20px;
      background-color: #fff;
      width: 100%;

      .headerContainer {
         width: 100%;
      }
   }
   .menu {
      &.close {
         width: 20px;
         height: 20px;
         fill: rgb(90, 90, 90);
      }
   }
}
