.AdviceEngineer {
   width: 100%;
   margin: 0 auto;
   background-color: var(--color-bg-component);
   padding: 66px 0 62px;
}

.container {
   max-width: var(--page-width);
   width: 100%;
   margin: 0 auto;
}

.faceContainer {
   width: 237px;
   height: 237px;
   border-radius: 50%;
   background-color: white;
   overflow: hidden;
   display: flex;
   justify-content: center;

   .face {
      width: 100%;
      height: 100%;
   }
}

.infoContainer {
   max-width: 550px;
   width: 100%;
}

.title {
   font-size: var(--size-36);
}

.description {
   font-size: var(--size-18);
   margin: 16px 0 35px;
}

.button {
   margin-right: 14px;
}

.whatsapp {
   margin-right: 8px;
}

.telegram {
   margin-right: 18px;
}

.link {
   line-height: 40px;
   color: var(--color-green);
   cursor: default;
}

.caption {
   margin-top: 23px;
}

@import './AdviceEngineerComponentAdapt.module.scss';
