.montazh {
   padding: 62px 0 91px;
   background-color: #f3f3f3;
   width: 100%;
   overflow-anchor: none;
}

.container {
   position: relative;
   max-width: 1034px;
   padding: 0 10px;
   margin: 0 auto;
}

.title {
   margin: 0;
   font-weight: 700;
   font-size: 36px;
   line-height: 40px;
}

.description {
   margin: 16px 0 0;
   font-size: 18px;
   line-height: 27px;
   color: #868c96;
}

.montazh_block {
   margin-top: 59px;
   height: 360px;
   gap: 50px;
}

.row_block:before,
.row_block:after {
   content: ' ';
   display: table;
}

.block_main {
   float: left;
   max-width: 400px;
}

.main_title {
   margin-bottom: 10px;
   font-weight: 500;
   font-size: 20px;
   line-height: 24px;
   color: #686868;
}

.main_list li {
   display: block;
   margin-bottom: 28px;
   padding-left: 40px;
   font-size: 16px;
   line-height: 18px;
   color: #686868;
   background-image: url(../../../../shared/assets/icons/icon-check.svg);
   background-repeat: no-repeat;
   background-position: 6px 1px;
   background-size: 20px;
}

.main_list {
   margin: 21px 0 50px;
}

.video {
   width: 55%;
   height: 100%;
}

.btn {
   width: 194px;
   margin-top: 56px;
}

@import './MontageComponentAdapt.module.scss';
