@import '../../../../app/styles/variables/mixins.scss';

@media screen and (max-width: $miniDesk) {
   .TitleComponent {
      height: auto;
      overflow: hidden;
   }

   .infoContainer {
      &::before {
         top: -110px;
         right: -60px;
      }
   }
}

@media screen and (max-width: $note) {
   .TitleComponent {
      padding-bottom: 70px;
   }

   .infoContainer {
      max-width: 100%;
      width: 100%;
      margin: 0;
      padding: 0 30px;
      &::before {
         right: 0;
      }
   }

   .title {
      width: 45%;
      font-size: 46px;
      line-height: 46px;
   }

   .production {
      width: 45%;
      line-height: 27px;
   }

   .featuresList {
      width: 45%;
   }

   .buttonSelect {
      margin-top: 51px;
   }

   .imageContainer {
      max-width: 324px;
      right: 67px;
      &::before {
         left: 76%;
      }

      &::after {
         left: 76%;
      }

      .mainImage {
         width: 300px;
      }
   }
}

@media screen and (max-width: $pad) {
   .TitleComponent {
      padding: calc(var(--header-height-mobile) + 30px) 25px 40px;
      height: fit-content;
   }

   .infoContainer {
      &::before {
         content: url(../../../../shared/assets/images/round-header-type-home-mobile.svg);
         top: 15%;
         bottom: none;
         right: -25px;
      }
   }

   .imageContainer {
      top: 20%;
      right: 40px;

      &::before {
         left: 76%;
      }

      &::after {
         left: 76%;
      }

      .mainImage {
         width: 260px;
      }
   }
}

@media screen and (max-width: $mobile) {
   .infoContainer {
      &::before {
         top: 44%;
         right: -24px;
      }
   }

   .title {
      width: 100%;
      text-align: center;
      font-size: var(--size-36);
   }

   .production {
      width: fit-content;
      margin-bottom: 50px;
      text-align: center;
   }

   .featuresList {
      width: 100%;
   }

   .buttonSelect {
      box-shadow: none;
      margin-top: 360px;
      margin-left: 0;
      width: 100%;
   }

   .imageContainer {
      top: 49%;

      &::before {
         left: 72%;
      }

      &::after {
         left: 72%;
      }

      .mainImage {
         width: 240px;
      }
   }
}

@media screen and (max-width: 380px) {
   .infoContainer {
      padding: 0;
   }

   .buttonSelect {
      margin-top: 310px;
      height: 35px;
   }

   .imageContainer {
      top: 53%;
      .mainImage {
         width: 210px;
      }
   }
}
