@import '../../../../app/styles/variables/mixins.scss';

@media screen and (max-width: $pad) {
   .TitleComponent {
      padding: calc(var(--header-height-mobile) + 30px) 25px 40px;
      height: fit-content;
   }

   .infoContainer {
      width: 100%;
      &::before {
         top: -90px;
         bottom: none;
         right: -25px;
      }
   }

   .title {
      width: 45%;
      font-size: 46px;
      line-height: 46px;
   }

   .production {
      width: 45%;
      line-height: 27px;
   }

   .featuresList {
      width: 45%;
   }
}

@media screen and (max-width: $mobile) {
   .infoContainer {
      &::before {
         content: url(../../../../shared/assets/images/round-header-type-home-mobile.svg);
         top: 27%;
         right: -20px;
      }
   }

   .title {
      width: fit-content;
   }

   .production {
      width: fit-content;
      margin-bottom: 530px;
   }

   .featuresList {
      width: 100%;
   }

   .buttonSelect {
      box-shadow: none;
      margin-top: 20px;
      margin-left: 0;
      width: 100%;
   }

   .imageContainer {
      position: absolute;
      top: 45%;
      max-width: 346px;

      .mainImage {
         width: 100%;
      }
   }
}
