@import '../../../../app/styles/variables/mixins.scss';

@media screen and (max-width: $note) {
   .ArragementWellsInfoComponent {
      padding: 30px 20px;
   }

   .container {
      gap: 25px;
   }

   .mainTitle {
      font-size: var(--size-32);
   }

   .title {
      margin-top: 20px;
   }

   .advantages {
      width: 40%;
   }

   .info {
      width: 60%;
   }
}

@media screen and (max-width: $pad) {
   .ArragementWellsInfoComponent {
      padding: 30px 20px;
   }

   .container {
      flex-direction: column;
   }

   .advantages {
      width: 100%;
   }

   .info {
      width: 100%;
   }
}
@media screen and (max-width: $mobile) {
   .container {
      gap: 20px;
   }
   .mainTitle {
      font-size: var(--size-26);
      text-align: center;
   }
}
